.cards__image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 43px;
}
