.footer__column-links {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  opacity: 1;


}

header__link:hover {
  transition-property: opacity;
  transition: opacity 1s linear 2s;
  opacity: 0;
}
